*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-color: rgb(210, 226, 255);
    text-align: center;
    z-index:1;
}

.title{
    font-size: 3rem;
    padding: 2rem 0;
}
#server-error{
    background-color:rgb(210, 226, 255);
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
    z-index: 1;

    #server-error-text{
        width: 40vw;
        height: fit-content;
        #server-error-title{
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        p {
            font-size: 1.5rem;
            
        }
    }
    #server-error-images{
        position: relative;
        display:flex;
        flex-direction: row-reverse;
        height: fit-content;
        #foxy {
            scale: 0.75;
        }
        #zzz{
            position: absolute;
            scale: 0.6;
            margin-top: -9rem;
            margin-right: -5rem;
            transform: rotate(10deg);
        }
    }
    
}


#oopsy-loader {
    // background-color: rgb(17, 82, 204);
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
    #foxy-loader {
        scale: 0.0001;
        
    }
    #zzz-loader {
        scale: 0.0001;
        margin-top: -9rem;
        margin-right: -5rem;
        transform: rotate(10deg);
    }
}